{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <img class="img-fluid" src="/uploads/{{ product.image }}" alt="{{ product.name }}">
        </div>
        <div class="col-md-7 my-auto">
            <h3><i class='fab fa-apple' style='font-size:36px'></i> {{ product.name }}</h3>
            <p>{{ product.subtitle }}</p>
            <h6>Category: {{ product.category }}</h6>
            <hr>
            <span class="product-price">Price: {{ (product.price / 100)|number_format(2, ',', '.') }} USD</span>
            <hr>
            <h6>Description</h6>
            <p>{{ product.description }}</p>
            <div class="d-flex justify-content-start align-items-center mb-3">
                <a href="{{ path('add_to_cart', {id: product.id}) }}" class="btn btn-outline-success mr-3">
                    <i class="fas fa-cart-plus"></i> Add to Cart
                </a>
{#                <a href="{{ path('order') }}" class="btn btn-warning">#}
{#                    Buy Now#}
{#                </a>#}
            </div>
        </div>
    </div>
    <hr>
    <div class="why-buy-section">
        <h4>Why choose Banazon?</h4>
        <div class="row">
            <div class="col-md-3">
                <i class="fas fa-check-circle"></i>
                <p>Authentic product</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-plane-departure"></i>
                <p>International shipping</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-shipping-fast"></i>
                <p>Fast delivery</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-headset"></i>
                <p>Excellent customer support</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-hand-holding-usd"></i>
                <p>Secure payment</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-undo"></i>
                <p>14 days return policy*</p>
            </div>
        </div>
        <small>* For more information, please contact the customer support.</small>
    </div>
{% endblock %}
